<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminHome</title>
</head>
<body>
<div>
    <div th:insert="shared/menu"></div>
    <h1>Only Admin can see this page.</h1>
    <h2>Users</h2>
    <a th:href="@{/admin/add}">Add a user</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${Users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a th:href="@{'/admin/edit/' + ${user.id}}">Edit</a>
                <a th:href="@{'/admin/delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>