<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddUser</title>
</head>
<body>
<div>
    <div th:insert="shared/menu"></div>
    <h1>Add a new employee</h1>
    <form action="#" th:action="@{/admin/save}" th:object="${user}" method="post">
        <label>Name: <input type="text" th:field="*{name}" /></label><br><br>
        <label>Email: <input type="text" th:field="*{email}" /></label><br><br>
        <label>Password: <input type="text" th:field="*{password}" /></label><br><br>
        <label>Role: <input type="text" th:field="*{role}" /></label><br><br>
        <input type="submit" value="Add" />
    </form>
</div>
</body>
</html>